body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #F3F3F3;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.search-container, #search-history-container {
    margin-right: 20px;
}

#search-history-container, .current-weather-container, .forecast-container {
    flex-grow: 1;
}

h3 {
    margin-top: 0;
}

#search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search-form input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #FF9800; /* Change button color to orange */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-form button:hover {
    background-color: #E65100; /* Darker orange on hover */
}

#search-history {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

#search-history .city {
    padding: 10px;
    background-color: #E1F5FE; /* Light blue background for history items */
    border: 1px solid #B3E5FC; /* Light blue border for history items */
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-history .city:hover {
    background-color: #B3E5FC; /* Darker blue on hover */
}

#current-weather, .forecast-day {
    background-color: #B2EBF2; /* Cyan background for weather and forecast items */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-day {
    flex: 0 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .forecast-day {
        flex: 0 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 400px) {
    .forecast-day {
        flex: 0 1 calc(100%);
        max-width: calc(100%);
    }
}

.city {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .search-container, #search-history-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
}